<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
       
        
  <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left uk-margin-xlarge-left">
          <a href="" uk-icon="instagram"></a>
      </div>
      <div class="uk-navbar-left">
  
          <ul class="uk-navbar-nav">
          
              <li class="uk-active uk-margin-large-left" id="insta"><a href="/">INSTAGRAM</a></li>
  
          </ul>
  
      </div>
  
      <div class="uk-navbar-center">
          <div class="uk-navbar-item">
          
              <form class="uk-search uk-search-default">
                  <a href="" uk-search-icon></a>
                  <input class="uk-search-input" type="search" placeholder="Search">
              </form>
          </div>
      
   
    
  
      </div>
      <div class="uk-navbar-right uk-margin-large-right">
          <span href="" uk-icon="upload"></span>
          <span href="" uk-icon="heart" ></span>
          <a href="" uk-icon="user" class="uk-margin-small-left"></a>
             
      </div>
      <button class="uk-button uk-button-small uk-margin-xlarge-right" type="button">Sign In</button>
<div uk-dropdown>
        {% if user.is_authenticated %}
    <ul class="uk-nav uk-dropdown-nav">
        <li><a href="/accounts/password/change">Change Password</a></li>
        <li><a href="">Create Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {% endif %}
        
    </ul>
</div>
  
  </nav>
</body>
</html>