{%extends 'base.html'%}

{% block content %}
{{block.super}}
{% for image in images %}
<div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
<div class="uk-child-width-1-2@m uk-margin-large-top">
    <div class="uk-margin-large-top uk-position-center">
           
            
            
                    <div class="uk-card uk-card-default uk-card uk-card-hover">
                        <div class="uk-card-media-top">
                                <div class="uk-card-header">
                                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">        
                                                        {% if image.photo %}
                                                        <img class="uk-border-circle" width="40" height="40" src="{{image.photo.url}}" alt="image ">
                                                    {% endif %}  
                                        <!-- <img class="uk-border-circle" width="40" height="40" src="{image.photo.url}}"> -->
                                            </div>
                                        <div class="uk-card uk-card-default uk-card-body">
                                {% if image.photo %}
                                <img src="{{image.photo.url}}" alt="image ">
                            {% endif %}
                        </div>
                    
                </div>
                        <div class="uk-card-footer">
                                <a href="" uk-icon="heart"></a>
                                <a href="" uk-icon="comment"></a>
                                <p>likes</p>
                            </div>       
</div>
</div>

</div>
</div>
</div>

           
<div class="uk-card uk-card-default uk-width-1-4@m uk-margin-large-top">
        
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                        {% if image.photo %}
                        <img class="uk-border-circle" width="40" height="40" src="{{image.photo.url}}" alt="image ">
                        {% endif %}  
                        </div>
                        <div class="uk-width-expand">
                            <h6 class="uk-card-title uk-margin-remove-bottom">shish njonjo</h6>
                            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
                <div class="uk-card-footer">
                               
                </div>
            
        </div>
</div>
{% endfor %}
{% endblock %}